<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="mobileOnly">
      <button mat-icon-button>
        <mat-icon>info</mat-icon>
      </button>
    </span>
    <span class="mobileOnly toolbarSpacer"></span>
    <span>Speed Reader</span>
    <span class="toolbarSpacer"></span>
    <span class="mobileOnly">
      <button (click)="toggleTheme()" mat-icon-button>
        <mat-icon>invert_colors</mat-icon>
      </button>
    </span>
    <span class="desktopOnly">
      <button mat-button>About</button>
      <button mat-button (click)="toggleTheme()">Toggle Theme</button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>